astropy==5.3.3
bcrypt==4.0.1
beautifulsoup4==4.11.2
bokeh==2.4.3
confluent-kafka==2.1.1
cryptography==42.0.4
dask==2023.7.0
deepdiff==6.2.3
distributed==2023.7.0
fastavro==1.6.0 #breaking changes in newer versions
fire==0.5.0
gsutil==5.20
gunicorn==22.0.0
h5py==3.8.0
jinja2>=2.11.2
matplotlib==3.7.0
motor==3.1.1
numba==0.56.4
numpy==1.23.5
pandas==1.5.3
protobuf==4.22.1
pyarrow==14.0.1
PyJWT==2.6.0
pymongo==4.6.3
pyopenssl==24.1.0
pytest==7.2.1
pytz==2022.7.1
PyYAML==6.0
requests==2.31.0
slack_sdk==3.20.0
supervisor==4.2.5
tables==3.9.2
tensorflow==2.16.1
tqdm==4.66.3
uvloop==0.17.0
