aiohttp==3.9.4
aiohttp-swagger3==0.8.0
astropy==5.2.1
bcrypt==4.0.1
cryptography==42.0.4
deepdiff==6.2.3
gunicorn==20.1.0
jinja2>=2.11.2
matplotlib==3.7.0
motor==3.1.1
multidict==6.0.4
numba==0.56.4
numpy==1.23.5
odmantic==0.9.2
pandas==1.5.3
pydantic==1.10.11 # bump to v2 once odmantic supports it
PyJWT==2.6.0
pymongo==4.4.0
pytest==7.2.1
pytest-aiohttp==1.0.4
PyYAML==6.0
requests==2.31.0
sshtunnel==0.4.0
supervisor==4.2.5
uvloop==0.17.0
ligo.skymap==1.0.7
mocpy==0.12.3
healpy==1.16.2
scipy==1.10.1
pygcn==1.1.2
xmlschema==2.3.0
lxml==4.9.2
